@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes fadeInLeftBig {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flashPartial {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0.5;
  }
}
@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@keyframes flashIn {
  0% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes flashOut {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
@keyframes feed {
  from {
    transform: rotateX(45deg);
    opacity: 0;
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* test */
.box {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 100px;
  transition: all 0.4s ease;
}
.box-bounce:hover {
  animation: bounce 1s;
}
.box-fadeInLeftBig:hover {
  animation: fadeInLeftBig 1s;
}
.box-flash:hover {
  animation: flash 1s;
}
.box-flashPartial:hover {
  animation: flashPartial 1s;
}
.box-tada:hover {
  animation: tada 1s;
}
.box-flashIn:hover {
  animation: flashIn 1s;
}
.box-flashOut:hover {
  animation: flashOut 1s;
}
.box-feed:hover {
  animation: feed 1s;
}
.box-bounceIn:hover {
  animation: bounceIn 0.5s;
}
