/* arrow */
.arrow, .arrow b {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
}
.arrow-top, .arrow-up, .arrow-top b, .arrow-up b {
  border-color: transparent transparent black;
  border-style: solid;
  border-width: 0 10px 10px;
}
.arrow-right, .arrow-right b {
  border-color: transparent transparent transparent black;
  border-style: solid;
  border-width: 10px 0 10px 10px;
}
.arrow-bottom, .arrow-down, .arrow-bottom b, .arrow-down b {
  border-color: black transparent transparent;
  border-style: solid;
  border-width: 10px 10px 0;
}
.arrow-left, .arrow-left b {
  border-color: transparent black transparent transparent;
  border-style: solid;
  border-width: 10px 10px 10px 0;
}
.arrow-top, .arrow-up {
  top: -10px;
}
.arrow-right {
  right: -10px;
}
.arrow-bottom, .arrow-down {
  bottom: -10px;
}
.arrow-left {
  left: -10px;
}
.arrow-top b, .arrow-up b {
  left: -10px;
  top: 1px;
  border-color: transparent transparent white;
}
.arrow-right b {
  top: -10px;
  left: -11px;
  border-color: transparent transparent transparent white;
}
.arrow-bottom b, .arrow-down b {
  left: -10px;
  top: -11px;
  border-color: white transparent transparent;
}
.arrow-left b {
  top: -10px;
  left: 1px;
  border-color: transparent white transparent transparent;
}

/* test */
.box {
  position: relative;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  margin: 50px;
}
