#content #top-navigation  ul{
 margin:5px 0 5px 0px;
}
#top-navigation{
	float:left;
	width:100%;
}
#top-navigation  ul li{
	margin-bottom:5px;	
	background:none;padding-bottom:5px;	
	list-style-image:none;
	float:left;
}
#top-navigation  ul li a{
	display:inline-block;
	font:bold 10px/15px Verdana;
	padding:5px 20px 5px 10px;
	text-transform:uppercase;
	cursor:pointer;	
	text-decoration: none;
	background-color: #FFFFFF;
        color: #494848;
    	font-family: Century Gothic;
    	font-size: 15px;
    	font-weight: normal;
}
#top-navigation  ul li a:hover{
	color:#fff;
	background-color:#5FB703;	
	text-shadow: 0 -1px 0 #5FB703;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
#top-navigation ul li.current-menu-item a{
	display:inline-block;
	font:bold 10px/15px Verdana;
	padding:5px 20px 5px 10px;
	text-transform:uppercase;
	cursor:pointer;	
	text-decoration: none;
	background-color:#5FB703;
    	color: #ffffff;
    	font-family: Century Gothic;
    	font-size: 15px;
    	font-weight: normal;
}
