body {
    height: 1000px;
}
/* For browser menu css*/
div.dc-floater-content ul li {
    margin-bottom: 5px;
    width: 155px;
    background: none;
    padding-bottom: 5px;
    border-bottom: dotted 2px #ffffff;
}
div.dc-floater-content ul li a {
    display: inline-block;
    font: bold 10px/18px Verdana;
    padding: 5px 20px 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
    width: 125px;
    text-decoration: none;
    background-color: #FFFFFF;
    color: #494848;
    font-family: Century Gothic;
    font-size: 18px;
    font-weight: normal;
}
div.dc-floater-content ul li a:hover {
    color: #fff;
    background-color: #009999;
    text-shadow: 0 -1px 0 #009999;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
div.dc-floater-content ul li.current-menu-item a {
    display: inline-block;
    font: bold 10px/18px Verdana;
    padding: 5px 20px 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
    width: 125px;
    text-decoration: none;
    background-color: #009999;
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 18px;
    font-weight: normal;
}