* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
	   -moz-box-sizing: border-box; /* Firefox ≤ 28 */
	        box-sizing: border-box; /* Chrome, Firefox 29+, IE 8+, Opera, Safari 5.1 */
}