* {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    border: none;
}
em i {
    font-style: normal;
}
.clearfix:after {
    content: "\200B";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.vm {
    vertical-align: middle;
}

body {
    background: #081220;
    font-family: "Tahoma";
    position: relative;
    padding-bottom: 90px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

/*图片滚动*/
.scroll {
    width: 100%;
    margin-top: 40px;
    position: relative;
    height: 470px;
}
.box {
    width: 801px;
    height: 470px;
    background: url(img/box.png) no-repeat 0 0;
    margin: 0 auto;
    position: relative;
}
.light {
    width: 455px;
    height: 146px;
    background: url(img/star.png) no-repeat 0 0;
    position: absolute;
    display: block;
    top: -126px;
    left: 50%;
    margin-left: -228px;
    z-index: -1;
}
.box_top {
    width: 67px;
    height: 25px;
    background: url(img/box_top.png) no-repeat 0 0;
    position: absolute;
    display: block;
    top: -14px;
    left: 50%;
    margin-left: -33px;
    z-index: 2;
}

.prev, .next {
    position: absolute;
    width: 116px;
    height: 112px;
    top: 205px;
    cursor: pointer;
}
.prev {
    background: url(img/left.png) no-repeat 0 0;
    left: -12px;
}
.next {
    background: url(img/right.png) no-repeat 0 0;
    right: -12px;
}
.outline {
    width: 789px;
    overflow: hidden;
    height: 470px;
    position: absolute;
    margin-left: 6px;
}
.slide {
    position: absolute;
}
.slide li {
    float: left;
    margin: 7px 6px 7px 0;
}