.pic {
  position: relative;
  width: 256px;
  height: 256px;
  overflow: hidden;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: .5s;
}
/* 遮罩层位移效果 */

#mask1 {
  background-color: chocolate;
  left: 0;
  top: 256px;
}

.pic:hover #mask1 {
  top: 0;
}

#mask2 {
  background-color: black;
  left: 0;
  top: 200px;
  color: white;
}

.pic:hover #mask2 {
  top: 100px;
}
